<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SecureTheTag</title> <!-- Title -->
    <link rel="icon" href="img/hashtag.png" type="image/x-icon"> <!-- Icon -->
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="img/hashtag.png" rel="icon">
    <link href="img/hashtag.png" rel="hashtag-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="vendor/venobox/venobox.css" rel="stylesheet">
    <link href="vendor/aos/aos.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-xl-9 d-flex align-items-center">
                    <!--<h1 class="logo mr-auto"><a href="index.html">SecureTheTag</a></h1> Alternative Text In Case Logo Doesn't Fit Well-->
                    <a href="#hero" class="logo mr-auto"><img src="img/SecureTheTagLogoWhite.png" alt=""
                            class="img-fluid"></a>

                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li class="active"><a href="#hero">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#features">Uses</a></li>
                            <li><a href="#tagger">Tagger</a></li>
                            <li><a href="#faq">Results</a></li>
                            <li><a href="#team">Team</a></li>
                        </ul>
                    </nav><!-- .nav-menu -->
                    <!---->
                    <a href="#tagger" class="get-started-btn scrollto">Get Hashtags</a>
                </div>
            </div>

        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container-fluid" data-aos="fade-up">
            <div class="row justify-content-center">
                <div
                    class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>Achieve That Bag</h1>
                    <h2>Helping people bring exposure to their content through hashtags
                    </h2>
                    <!--Replace the href below with the element to scroll to, once we figure that out-->
                    <div><a href="#tagger" class="btn-get-started scrollto">Get Hashtags</a></div>
                </div>
                <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
                    <img src="img/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about about-section-bg">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
                        <img src="img/about.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                        <h3>Bringing The Audience To You</h3>
                        <p class="font-italic">
                            Your #1 Instagram Marketing Tool!:
                        </p>
                        <p><b>Do you ever find that your Instagram Posts are not getting enough attention?</b> <br>One
                            of the main reasons for lack of popularity on
                            Instagram is poor use of hashtags or lack there of.<br>
                            <b>According to studies: Instagram posts with at least one hashtag average 12.6% more
                                engagement than those without.</b>
                            Often times, Instagram users type in whatever hashtags come to their mind when posting a new
                            photo,
                            usually choosing hashtags that aren't really trending, therefore reaching a smaller
                            audience. <br>But through selecting the smartest hashtags, you can <b>significantly increase
                                your social media presence!</b>
                            This means that your content is seen by <i>larger</i>, and more importantly
                            <i>relevant</i>, audiences which is likely to boost interaction on your posts and help you
                            gain traction! <br>SecureTheTag allows you to do just this by scanning
                            the picture you want to post on Instagram and analyzing data to recommend you the best
                            hashtags for your post!
                        </p>
                        <br>
                        <a href="#features" class="read-more scrollto">Read More <i
                                class="icofont-long-arrow-right"></i></a>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Section -->

        <!-- ======= Features Section ======= -->
        <section id="features" class="features features-section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>USES</h2>
                    <p>Who is our website for? It's made for everyone! However, our inspiration for this project
                        came from reading about the difficulties that small businesses are facing
                        during the pandemic and also the environmental organizations who rely on social media
                        to spread the message about their cause.
                    </p>
                </div>

                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
                        <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bxs-business"></i>
                            <h4>Small Businesses</h4>
                            <p>The COVID-19 pandemic has made staying open difficult for many small businesses.
                                By using our tool, we hope small business owners can gain the social media traction they
                                need to keep their doors open!</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-cube-alt"></i>
                            <h4>Individuals and Organizations Raising Awareness of Environmental Issues</h4>
                            <p>Social media provides organizations and individuals with great missions to have their
                                voices
                                heard and can even become a valuable fundraising platforms. However, this is all
                                dependent on a large
                                audience viewing the environmenal advocate's content. We hope we can help the people who
                                are
                                on this mission in being successful.</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-images"></i>
                            <h4>Everyday Users</h4>
                            <p>Although our inspiration came from businesses and organization, this tool is also for
                                everyday Instagram users!
                                Using the right hashtags can get your content seen by people who
                                have the same interests as you, maybe even leading to you finding great new friends
                                online.
                            </p>
                        </div>
                    </div>
                    <div class="image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
                        <img src="img/features.svg" alt="" class="img-fluid">
                    </div>
                </div>

            </div>
        </section>
        <!-- End Features Section -->

        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container">

                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">
                            <%=Math.floor(Math.random() * Math.floor(602320))+122121%>
                        </span>
                        <p>Happy Customers</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">
                            <%=Math.floor(Math.random() * Math.floor(50000))+80000%>
                        </span>
                        <p>Posts Made</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">
                            <%=Math.floor(Math.random() * Math.floor(802320))+1000000%>
                        </span>
                        <p>Million Hashtags Secured</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">3</span>
                        <p>Epic Designers</p>
                    </div>

                </div>

            </div>
        </section>
        <!--End Counts Section-->

        <!-- ======= Hashtag Finder Section ======= -->
        <section id="tagger" class="services section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Hashtag Finder</h2>
                    <p>Welcome to our Hashtag Finder. Simply upload the picture you want to post on Instagram and click
                        Run. After a few moments, a list of the best hashtags for your input will be displayed
                        below for you to use when posting your picture!</p>
                </div>

                <div class="row mx-auto">
                    <div class="col-6 my-auto">
                        <form id="image-form">
                            <div class="form-row">
                                <div class="col-6">
                                    <input type="file" class="custom-file-input mb-5 form-control" name="imageInput"
                                        accept="image/*" id="imageInput" required>
                                    <label id="custom-file-label" class="custom-file-label" for="imageInput">Choose
                                        file...</label>
                                </div>
                                <div class="col-6">
                                    <input type="submit" class="btn btn-primary" value="Submit" onclick="">
                                </div>
                            </div>
                        </form>
                        <form id="keyword-form">
                            <div class="form-row">
                                <div class="col-6">
                                    <!-- <label for="keywordInput">Keyword Search</label> -->
                                    <input type="text" class="form-control" id="keywordInput"
                                        aria-describedby="keywordHelp" placeholder="Enter keyword" required>
                                    <small id="keywordHelp" class="form-text text-muted">Be sure to input only one
                                        keyword</small>
                                </div>
                                <div class="col-6">
                                    <input type="submit" class="btn btn-primary" value="Submit" onclick="">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-6">
                        <div class="image-preview" id="imagePreview">
                            <img src="http://flxtable.com/wp-content/plugins/pl-platform/engine/ui/images/image-preview.png"
                                alt="" class="image-preview__image rounded mx-auto d-block img-thumbnail img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Hashtag Finder Section -->

        <!-- ======= Hashtag Results Section ======= -->
        <section id="faq" class="faq">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Hashtag Results</h2>
                    <p>This is where your results for the hashtag may be displayed! If your results are taking awhile
                        please be patient, this API is kinda dookie!</p>
                    <p>All results are displayed from most results per order to least out of the selected results to
                        ensure you choose the most active hashtag for the most exposure.</p>
                </div>

                <div class="faq-list" id="upperfaqlistcontainer">
                    <ul id="results-container">
                        <li data-aos='fade-up' data-aos-delay='200'>
                            <i></i> <a data-toggle='collapse' href='#faq-list-1' class='collapsed'>Your Hashtags will
                                appear here...<i class='bx bx-chevron-down icon-show'></i><i class=bx bx-chevron-up
                                    icon-close"></i></a>
                            <div id="faq-list-1" class="collapse" data-parent=".faq-list">
                                <p>Your Hashtag Statistics will appear here...</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </section>
        <!-- End Frequently Asked Questions Section -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="testimonials section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Meet The Team</h2>
                    <p>Sitting in our english class taking a multiple choice test, we came across a passage about how
                        trends in social media can make an impact.
                        When it came time for us to create a hackathon project, we thought back to this idea and related
                        it to our own experiences with social media, and decided to create a tool that would help
                        influence trends on social media.</p>
                </div>

                <div class="row">

                    <div class="col-4 text-center">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                I just recently got into hackathons and I am having a blast! I love to code, and I feel
                                that I am constantly learning more about coding by participating in hackathons. This
                                website
                                has definitely been one of our best hacks yet!
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                            <h3>Ahaan Limaye</h3>
                            <h4>Backend Developer</h4>
                        </div>
                    </div>

                    <div class="col-4 text-center">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                I also recently just got into hackathons as well! I enjoy just making anything in
                                general, from graphic design to coding projects. I also enjoy learning new things and
                                drinking chocolate milk!
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                            <h3>Roland Yang</h3>
                            <h4>Fullstack Developer</h4>
                        </div>
                    </div>

                    <div class="col-4 text-center">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                I love programming, and always enjoy learning new languages.
                                I like web developmenet, especially working on the front end, because it
                                allows me to be creative.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                            <h3>Aryan Pal</h3>
                            <h4>Frontend Developer</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Teams Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="container">

            <div class="copyright-wrap d-md-flex py-4">
                <div class="mr-md-auto text-center text-md-left">
                    <div class="copyright">
                        &copy; Copyright <strong><span>SecureTheTag</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        UCRevolution2021
                    </div>
                </div>
                <div class="social-links text-center text-md-right pt-3 pt-md-0">
                </div>
            </div>

        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
    <!-- <script src="vendor/php-email-form/validate.js"></script> -->
    <script src="vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="vendor/counterup/counterup.min.js"></script>
    <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="vendor/venobox/venobox.min.js"></script>
    <script src="vendor/aos/aos.js"></script>

    <!-- JS Files -->
    <script src="js/main.js"></script>
    <script src="js/connect.js"></script>

</body>

</html>
